# Gotify - Environment Variables

# Strefa czasowa
TZ=Europe/Warsaw

# Domyślne konto admina (zmień hasło po pierwszym logowaniu!)
GOTIFY_DEFAULTUSER_NAME=admin
GOTIFY_DEFAULTUSER_PASS=your_secure_password_here
