# Mealie - Environment Variables

# Strefa czasowa
TZ=Europe/Warsaw

# Adres pod którym Mealie jest dostępne (używany w linkach e-mail itp.)
BASE_URL=http://mealie.home.local

# Baza danych PostgreSQL
POSTGRES_USER=mealie
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_DB=mealie

# Domyślne konto admina (zmień hasło po pierwszym logowaniu!)
MEALIE_DEFAULT_EMAIL=admin@home.local
MEALIE_DEFAULT_PASSWORD=your_secure_password_here
